doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title zaka
        script(src="https://code.jquery.com/jquery-3.6.3.min.js") 
        link(rel='stylesheet', type='text/css', href='/css/main.css')
        script(src="/js/main.js")
        script(src="/js/zaccount.js")
        script(src="/js/invite-friend.js")
        script(src="/js/send-message.js")

    body(style="margin: 0; height:100vh;")

        div(id="loading-view")
            h1 Đang xử lý....
            
        div(class="container")
            div(style="display: flex;")
                h1(style="margin: 0") 4Fun
                a(href="logout") Đăng xuất
        
            div(class="tab")
                button(class="tablinks active", onclick="openCity(event, 'Accounts')") Tài khoản
                button(class="tablinks", onclick="openCity(event, 'Friends')") Kết bạn
                button(class="tablinks", onclick="openCity(event, 'MessageBox')") Nhắn tin
            
            div(id="Accounts", class="tabcontent", style="display:block;")
                h3(style="margin-bottom: 0;") Quản lý tài khoản
                div(class="button-groups")
                    button(class="table-btn add", id="add-item", onclick="$('#add-account').show()") Thêm mới
                    //- button(class="table-btn delete", id="delete-item") Xóa
                
                div
                    table
                        tr
                            th STT
                            th Tài khoản 
                            th Trạng thái 
                            th Thao tác
                        tbody(id="zaccount-table")
                            tr
                                td 1
                                td khanhkk
                                td 
                                    div
                                        span Đang kích hoạt
                                        button(class="row-btn pick-up hide") Kích hoạt
                                td 
                                    div
                                        button(class="row-btn edit") Sửa
                                        button(class="row-btn delete") Xóa
                            tr
                                td 2
                                td khanhkk
                                td
                                    div
                                        span Chưa kích hoạt
                                        button(class="row-btn pick-up") Kích hoạt
                                td 
                                    div
                                        button(class="row-btn edit") Sửa
                                        button(class="row-btn delete") Xóa

            div(id="Friends", class="tabcontent")
                h3 Friends
                div
                    form(method="POST", id="invite-form", action="/start", enctype="multipart/form-data", style="max-width: 250px")
                        div 
                            input(type="radio", value="file", name="type", class="radio-btn file-option", id="fr_file")
                            label(for="fr_file") File
                            input(type="radio", value="text", name="type", class="radio-btn text-option", id="fr_text", checked)
                            label(for="fr_text") Text

                        div(class="form-item text")
                            p(style="margin-bottom: 5px;") Số điện thoại 
                            input(type="text", name="phone", class="phone-number")

                        div(class="form-item file hide")
                            p(style="margin-bottom: 5px;") Danh sách số điện thoại 
                            input(type="file", name="file", accept=".txt", class="phone-file")

                    div(style="margin-top: 20px; margin-left: 0%; display:flex")
                        button(type="button", id='add-frd', class="btn add-friend") Kết bạn

            div(id="MessageBox", class="tabcontent")
                h3 Cài đặt lịch nhắn tin
                div(style="display: flex; flex-direction: row;")
                    div
                        form(method="POST", id="send-form", action="/start", enctype="multipart/form-data", style="min-width: 240px")
                            div 
                                input(type="radio", value="file", name="type", class="radio-btn file-option", id="mb_file")
                                label(for="mb_file") File
                                input(type="radio", value="text", name="type", class="radio-btn text-option", id="mb_text", checked)
                                label(for="mb_text") Text

                            div(class="form-item text")
                                p(style="margin-bottom: 5px;") Số điện thoại 
                                input(type="text", name="phone", class="phone-number")

                            div(class="form-item file hide")
                                p(style="margin-bottom: 5px;") Danh sách số điện thoại 
                                input(type="file", name="file", accept=".txt", class="phone-file")

                            div(class="form-item")
                                p(style="margin-bottom: 5px;") Tin nhắn
                                textarea(name="message", id="message", class="message", rows="4")

                            div(class="form-item")
                                p(style="margin-bottom: 5px;") Thời gian 
                                input(type="datetime-local", name="time", class="send-time")

                        div(style="margin-top: 20px; margin-left: 0%; display:flex")
                            button(type="button", id='send-ms', class="btn send-ms") Gửi tin nhắn

                    div(style="width: 100%; margin-left: 25px;")
                        table
                            tr 
                                th(width=10) STT
                                th Tin nhắn 
                                th(width=100) Tình trạng
                                th(width=30) Ngày tạo
                            tbody(id='schedule-table')
                                tr
                                    td 1
                                    td hello
                                    td 
                                        div
                                            span Chờ gửi
                                    td 
                                        div
                                            button(class="row-btn delete") Xóa

        div(class="modal hide", id="add-account")
            div(class="modal-content")
                <span class="close">&times;</span>
                div(class="header")
                    h2 Tài khoản

                div(class="modal-body")
                    div(class="form-item")
                        div
                            p(style="margin-bottom: 5px;") SĐT
                            input(type="hidden", id="hidden-za")
                            input(class="phone", name="phone", type="text", autocomplete="off")

                    div(class="form-item")
                        div
                            p(style="margin-bottom: 5px;") Mật khẩu
                            input(class="password", name="password", type="password", id="pwd", autocomplete="new-password")

                    div(class="form-item")
                        div
                            p(style="margin-bottom: 5px;") Xác nhận mật khẩu
                            input(class="cf-password", name="cf-password", type="password", autocomplete="off")

                    div(class="form-item")
                        p(style="margin-bottom: 5px;") Cookies
                        textarea(class="cookies", name="cookies", id="cookies", style="width: 100%", rows="6")

                    div(style="float: right;")
                        button(class="btn cancel") Hủy
                        button(class="btn submit") Lưu

        div(class="modal hide", id="confirm-delete")
            div(class="modal-content")
                <span class="close">&times;</span>
                div(class="header")
                    h2(style="color: red;") Xóa

                div(class="modal-body")
                    div(class="form-item")
                        div
                            h4(style="margin-bottom: 25px;") Bạn chắc chắn muốn xóa tài khoản này???

                    div(style="float: right;")
                        button(class="btn cancel") Hủy
                        button(class="btn submit") Đồng ý

        div(class="modal hide", id="confirm-delete-schedule")
            div(class="modal-content")
                <span class="close">&times;</span>
                div(class="header")
                    h2(style="color: red;") Xóa

                div(class="modal-body")
                    div(class="form-item")
                        div
                            h4(style="margin-bottom: 25px;") Bạn chắc chắn muốn xóa lịch cài đặt này???

                    div(style="float: right;")
                        button(class="btn cancel") Hủy
                        button(class="btn submit") Đồng ý


